{% extends 'base.html' %}

{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block Content %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/timi.jpg" %}" alt="Timi - Author of This Blog"/>
            <h2> TIMI'S BLOG </h2>
        </header>
        <p>Hi, I am Timi and I love to Blog about tech and the world</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul> 
           {% for post in posts  %}
            {% include "blog/includes/post.html"  %}
           {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do </h2>
        <p>
            I love programming, sport, music, and art 
        </p>
    </section>

{% endblock %}