{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" Content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    {% block css_files %} {% endblock %}
</head>
<body>
    <header id="main-navigation">
        <h1><a href=" {% url "starting-page" %} ">Timi's Blog</a> </h1>
        <nav>
            <a href=" {% url "posts-page" %} "> All Posts </a>
        </nav>
    </header>

    {% block Content %}
    {% endblock %}
</body>
</html>